#location{float:right;width:400px;height:400px;border-spacing:1px;margin-top:40px;margin-right:5px;}
#location td{border:1px solid #ddd;}
#location td.active{background:#222;}
#location td.gold{background:#ffd700;}
#location td.silver{background:#c0c0c0;}
#location td.copper{background:#f93;}
#location td.coal{background:#333;}

#results {float:left;}
